nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.nav-content {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content .logo {
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.3s ease-out;
  font-family: "Playfair Display", serif;
}

.nav-content .logo:hover {
  color: var(--primary);
  transform: scale(1.05);
}

.nav-content ul {
  display: flex;
  list-style: none;
}

.nav-content ul > li {
  margin: 0 2rem;
}

.register {
  display: flex;
}

nav .burger {
  display: none;
}

nav .burger .line {
  margin: 6px 0;
  width: 20px;
  height: 3px;
  background-color: black;
}

nav .burger .l-one {
  transform-origin: bottom;
  transition: 0.3s ease-out;
}

nav .burger .l-one.rotate {
  transform: rotate(140deg) translate(2px, 0px);
}

nav .burger .l-two {
  transform-origin: top;
  transition: 0.3s ease-out;
}

nav .burger .l-two.rotate {
  transform: rotate(-140deg) translate(2px, 2px);
}
