:root {
  --primary: rgb(23, 209, 209);
  --secondary: black;
  --ternary: rgb(80, 80, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  padding: 0 6rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--ternary);
  transition: 0.3s ease-out;
}

a:hover {
  color: var(--primary);
}

button,
.button1 {
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  margin-left: 1rem;
  min-width: 70px;
  background-color: white;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out;
  outline: none;
}

.button1:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.button2 {
  cursor: pointer;
  background-color: var(--secondary);
  color: white;
  transition: 0.3s ease-out;
}

.button2:hover {
  color: var(--primary);
}

i {
  color: var(--secondary);
  transition: 0.3s ease-out;
}

i:hover {
  color: var(--primary);
}

p {
  color: var(--ternary);
}

h1 {
  font-size: 2rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
}

ul {
  list-style: none;
}
